<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Dashboard</title>
  <style>
    /* Add your own CSS here */
    td {
      border-collapse: collapse;
      border: 1px solid black;
      padding: 0;
      margin: 0;
    }

    table {
      border-collapse: collapse;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
<h1>Admin Dashboard</h1>
<p>Welcome, <span th:text="${#authentication.getName()}"></span></p>
<p>Your roles are: <span th:text="${#authentication.getAuthorities()}"></span></p>

<h2>Member List</h2>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <!-- Add table rows with member data using a loop -->
  <tr th:each="member : ${members}">
    <td th:text="${member.id}"></td>
    <td th:text="${member.username}"></td>
    <td th:text="${member.email}"></td>
    <td th:text="${member.userRole}"></td>
    <td>
      <button th:onclick="'editMember(' + ${member.id} + ')'">Edit</button>
      <button th:onclick="'deleteMember(' + ${member.id} + ')'">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

<h2>Currently Connected Members</h2>
<ul>
  <!-- Add list items with connected member data using a loop -->
  <li th:each="connectedMember : ${connectedMembers}" th:text="'  userId : ' + ${connectedMember.id} + ' | username : ' + ${connectedMember.username} + ' |'"></li>
</ul>

<form id="logout" th:action="@{/logout}" method="post">
  <input type="submit" value="Logout"/>
</form>

<script>
  // Add your JavaScript code for handling editMember and deleteMember actions
</script>
</body>
</html>
